<spb id="bord" class="speelbord">
    <div class="rij">
        {{#each rij0}}
            {{>fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij1}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij2}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij3}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij4}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij5}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij6}}
            {{> fiche}}
        {{/each}}
    </div>
    <div class="rij">
        {{#each rij7}}
            {{> fiche}}
        {{/each}}
    </div>
</spb>